.outer__div{
    display: flex;
  background-color: white !important;
    /* height: 800px; */
}
.inner__div1{
    width: 60%;
    border: 1px solid black;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10%;
}
.inner__div2{
    width: 25%;
    border: 1px solid black;
    height: 700px;
    margin-top: 10px;
    margin-left: 72%;
    background-color: #ececec;
    position: fixed;
}
.count__seat{
  color: rgb(2, 2, 26);
  font-size: 15px;
  font-weight: 500;
  margin: 10px;
  margin-top: 20px;
}
.snack__divArr{
    display: flex;
    
}
.snack__divArr > p{
    color: green;
    font-size: 15px;
    font-weight: 500;
   margin: 5px;
    margin-left: 20px;
    font-size: 20px;
}
.snack__divArr > img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-bottom: 10px;
}











/* .outer__div{
    display: flex;
}
.inner__div1{
    width: 60%;
    border: 1px solid black;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10%;
}
.inner__div2{
    width: 25%;
    border: 1px solid black;
    height: 600px;
    margin-top: 10px;
    margin-left: 72%;
    background-color: #ececec;
    position: fixed;
}
.count__seat{
  color: rgb(2, 2, 26);
  font-size: 15px;
  font-weight: 500;
  margin: 10px;
  margin-top: 20px;
}
.snack__divArr > p{
    color: green;
    font-size: 15px;
    font-weight: 500;
} */